In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import sklearn

In [3]:
df1 = pd.read_csv('wustl-ehms-2020.csv')

In [4]:
df1.head()

,Dir,Flgs,SrcAddr,DstAddr,Sport,Dport,SrcBytes,DstBytes,SrcLoad,DstLoad,...,Packet_num,Temp,SpO2,Pulse_Rate,SYS,DIA,Heart_rate,Resp_Rate,ST,Label
0,->,e,10.0.1.172,10.0.1.150,58059,1111,496.0,186.0,276914.0,92305.0,...,1,28.9,0,0,0,0,0,0,0.0,0
1,->,e,10.0.1.172,10.0.1.150,58062,1111,496.0,186.0,230984.0,76995.0,...,2,28.9,0,0,0,0,78,17,0.4,0
2,->,e,10.0.1.172,10.0.1.150,58065,1111,496.0,186.0,218470.0,72823.0,...,3,28.9,89,104,0,0,78,17,0.4,0
3,->,e,10.0.1.172,10.0.1.150,58067,1111,496.0,186.0,203376.0,67792.0,...,4,28.9,89,104,0,0,79,17,0.4,0
4,->,e,10.0.1.172,10.0.1.150,58069,1111,496.0,186.0,235723.0,78574.0,...,5,28.9,89,101,0,0,79,17,0.4,0

In [5]:
df1['Label'].value_counts()

Label
0    14272
1     2046
Name: count, dtype: int64

In [6]:
df1.keys()

Index(['Dir', 'Flgs', 'SrcAddr', 'DstAddr', 'Sport', 'Dport', 'SrcBytes',
       'DstBytes', 'SrcLoad', 'DstLoad', 'SrcGap', 'DstGap', 'SIntPkt',
       'DIntPkt', 'SIntPktAct', 'DIntPktAct', 'SrcJitter', 'DstJitter',
       'sMaxPktSz', 'dMaxPktSz', 'sMinPktSz', 'dMinPktSz', 'Dur', 'Trans',
       'TotPkts', 'TotBytes', 'Load', 'Loss', 'pLoss', 'pSrcLoss', 'pDstLoss',
       'Rate', 'SrcMac', 'DstMac', 'Packet_num', 'Temp', 'SpO2', 'Pulse_Rate',
       'SYS', 'DIA', 'Heart_rate', 'Resp_Rate', 'ST', 'Label'],
      dtype='object')

In [7]:
for cols in df1.keys():
    print(f'col: {cols} , values : {df1[cols].value_counts()}')

col: Dir , values : Dir
   ->    16318
Name: count, dtype: int64
col: Flgs , values : Flgs
 e            15237
 M              924
 eR             138
 e s              8
 M *              7
 M d              3
 MR               1
Name: count, dtype: int64
col: SrcAddr , values : SrcAddr
10.0.1.172    16318
Name: count, dtype: int64
col: DstAddr , values : DstAddr
10.0.1.150    16318
Name: count, dtype: int64
col: Sport , values : Sport
57458    2
51612    2
64273    2
50474    2
58059    1
        ..
61224    1
61229    1
61232    1
61236    1
63969    1
Name: count, Length: 16314, dtype: int64
col: Dport , values : Dport
1111    16318
Name: count, dtype: int64
col: SrcBytes , values : SrcBytes
496.0     16228
436.0        35
556.0        21
806.0        11
562.0         4
310.0         4
430.0         3
502.0         3
1988.0        2
866.0         2
2298.0        1
1057.0        1
1678.0        1
1987.0        1
437.0         1
Name: count, dtype: int64
col: DstBytes , values : DstBytes
186.0    16228
486.0       32
246.0       23
252.0       11
384.0        7
126.0        4
816.0        3
426.0        3
312.0        2
882.0        1
618.0        1
120.0        1
690.0        1
492.0        1
Name: count, dtype: int64
col: SrcLoad , values : SrcLoad
246235.0    11
256684.0    10
252033.0    10
262156.0    10
246623.0     9
            ..
14841.0      1
14564.0      1
16860.0      1
15411.0      1
179342.0     1
Name: count, Length: 8353, dtype: int64
col: DstLoad , values : DstLoad
7494.0     13
7066.0     13
82078.0    11
84011.0    10
87385.0    10
           ..
66819.0     1
13310.0     1
46910.0     1
94377.0     1
59781.0     1
Name: count, Length: 8195, dtype: int64
col: SrcGap , values : SrcGap
0.0    16318
Name: count, dtype: int64
col: DstGap , values : DstGap
0.0    16318
Name: count, dtype: int64
col: SIntPkt , values : SIntPkt
4.028667     11
3.936000     10
3.784000     10
3.864667     10
4.010000      9
             ..
46.776668     1
45.473332     1
48.114000     1
52.375000     1
5.531333      1
Name: count, Length: 8505, dtype: int64
col: DIntPkt , values : DIntPkt
2.4420    15
2.7695    15
2.4465    15
2.4250    14
2.3900    14
          ..
4.8590     1
3.7145     1
1.9265     1
4.2725     1
4.0440     1
Name: count, Length: 6094, dtype: int64
col: SIntPktAct , values : SIntPktAct
0.000       16311
2999.338        1
2998.387        1
3002.166        1
2999.079        1
3000.511        1
3002.812        1
2997.637        1
Name: count, dtype: int64
col: DIntPktAct , values : DIntPktAct
0.0    16318
Name: count, dtype: int64
col: SrcJitter , values : SrcJitter
0.000000    4
3.048574    3
2.875367    3
2.938986    2
2.830355    2
           ..
2.736145    1
2.856025    1
2.588062    1
3.524109    1
2.459343    1
Name: count, Length: 16212, dtype: int64
col: DstJitter , values : DstJitter
2.3345    16
2.0680    15
2.4380    15
2.4505    15
2.3445    14
          ..
3.4355     1
3.9480     1
2.8605     1
1.6740     1
1.5860     1
Name: count, Length: 6046, dtype: int64
col: sMaxPktSz , values : sMaxPktSz
310    16311
311        7
Name: count, dtype: int64
col: dMaxPktSz , values : dMaxPktSz
66    16317
60        1
Name: count, dtype: int64
col: sMinPktSz , values : sMinPktSz
60     16314
310        4
Name: count, dtype: int64
col: dMinPktSz , values : dMinPktSz
60    16318
Name: count, dtype: int64
col: Dur , values : Dur
0.012086    11
0.011594    10
0.011808    10
0.011352    10
0.010446     9
            ..
4.598797     1
0.140330     1
0.136420     1
0.144342     1
0.016594     1
Name: count, Length: 8504, dtype: int64
col: Trans , values : Trans
1    16318
Name: count, dtype: int64
col: TotPkts , values : TotPkts
7.0     16226
11.0       39
9.0        32
10.0        6
3.0         4
21.0        3
8.0         2
6.0         2
23.0        1
15.0        1
5.0         1
18.0        1
Name: count, dtype: int64
col: TotBytes , values : TotBytes
682.0     16226
922.0        31
802.0        21
1058.0       11
436.0         4
946.0         4
862.0         3
886.0         3
2804.0        2
1178.0        2
742.0         2
616.0         2
550.0         1
1675.0        1
2368.0        1
3180.0        1
2803.0        1
923.0         1
928.0         1
Name: count, dtype: int64
col: Load , values : Load
328314.0    11
336043.0    10
342246.0    10
349542.0    10
336728.0     9
            ..
19788.0      1
19418.0      1
22480.0      1
20547.0      1
239123.0     1
Name: count, Length: 8385, dtype: int64
col: Loss , values : Loss
0    16300
1       11
4        7
Name: count, dtype: int64
col: pLoss , values : pLoss
0.000000     16300
10.000000        8
26.666667        4
28.571429        3
14.285714        2
8.333333         1
Name: count, dtype: int64
col: pSrcLoss , values : pSrcLoss
0.000000     16303
16.666667       12
20.000000        3
Name: count, dtype: int64
col: pDstLoss , values : pDstLoss
0.000000     16308
33.333333        7
25.000000        2
11.111111        1
Name: count, dtype: int64
col: Rate , values : Rate
496.442    11
517.509    10
508.130    10
528.541    10
476.985     9
           ..
38.186      1
41.581      1
44.045      1
40.604      1
361.576     1
Name: count, Length: 8425, dtype: int64
col: SrcMac , values : SrcMac
84:3a:4b:0f:5b:94    14272
d8:9e:f3:95:02:75     2046
Name: count, dtype: int64
col: DstMac , values : DstMac
b8:ca:3a:cf:0b:87    16318
Name: count, dtype: int64
col: Packet_num , values : Packet_num
1815     2
3887     2
14295    2
2538     2
8379     2
        ..
5448     1
5449     1
5450     1
5451     1
16314    1
Name: count, Length: 16306, dtype: int64
col: Temp , values : Temp
26.7    1315
26.8    1137
27.1    1136
27.2     962
26.9     907
27.0     895
26.6     726
27.6     656
27.8     651
27.9     562
27.7     514
27.3     461
26.4     421
27.4     404
26.3     377
26.5     346
28.0     335
26.2     320
25.8     315
25.7     258
28.6     256
28.1     245
24.8     240
27.5     237
28.5     191
28.4     169
25.9     166
24.7     159
25.3     153
25.2     152
24.5     150
28.2     130
25.5     127
28.3     125
25.1     119
26.1     116
25.6     111
24.9     108
25.4     102
28.9     100
24.6      95
28.8      79
24.4      74
28.7      73
26.0      71
25.0      57
24.2       5
29.0       3
24.1       2
24.3       2
29.1       1
29.2       1
23.6       1
Name: count, dtype: int64
col: SpO2 , values : SpO2
98     9733
97     2913
99     2764
96      518
95      175
94       82
93       50
91       25
92       25
89        8
85        5
100       4
87        4
84        4
83        3
0         2
88        2
82        1
Name: count, dtype: int64
col: Pulse_Rate , values : Pulse_Rate
73     5582
72     2566
76      674
75      663
79      595
       ...
124       2
175       1
64        1
155       1
122       1
Name: count, Length: 78, dtype: int64
col: SYS , values : SYS
148    5290
142    2758
138    1544
143    1102
144    1016
134     957
135     933
145     882
147     705
149     624
129     471
0        36
Name: count, dtype: int64
col: DIA , values : DIA
84    5917
72    2706
78    2084
83    1048
79     962
75     933
87     885
85     710
82     535
76     471
0       36
86      10
80       7
77       5
81       3
93       2
88       2
92       1
95       1
Name: count, dtype: int64
col: Heart_rate , values : Heart_rate
73     5560
71     2539
76      612
79      563
80      553
       ...
51        2
119       2
105       1
43        1
47        1
Name: count, Length: 72, dtype: int64
col: Resp_Rate , values : Resp_Rate
19    5929
26    2534
0      869
20     584
15     544
18     540
21     521
17     489
16     439
22     419
24     392
13     386
14     334
23     334
25     326
12     199
27     192
11     168
10     136
29     119
31     105
30      98
34      84
32      76
9       62
28      58
37      51
33      45
35      35
40      30
8       23
36      22
45      20
39      19
7       19
38      16
43      12
64      12
50      12
41      11
72      10
71       7
68       6
51       5
62       5
59       5
58       4
70       4
73       4
48       4
Name: count, dtype: int64
col: ST , values : ST
 0.30    5560
 0.36    2494
 0.20     980
 0.18     917
 0.16     857
 0.22     753
 0.14     737
 0.24     678
 0.26     540
 0.28     474
 0.12     341
 0.10     303
 0.08     216
 0.34     202
 0.32     173
 0.00     170
 0.06     125
 0.04     124
 0.38     105
 0.02      89
 0.44      69
 0.40      54
 1.00      44
 0.42      42
 0.46      36
-0.16      31
 0.52      27
 0.48      25
-0.02      24
 0.62      19
-0.08      18
 0.50      15
-0.04      13
-0.26      13
-0.20      11
 0.58      10
 0.60       9
-0.22       9
 0.76       6
-0.30       5
Name: count, dtype: int64
col: Label , values : Label
0    14272
1     2046
Name: count, dtype: int64

In [8]:
df2 = pd.read_csv('wustl_hdrl_2024.csv')

C:\Users\KARAN\AppData\Local\Temp\ipykernel_1924\3070449183.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('wustl_hdrl_2024.csv')

In [9]:
df2

,Dir,Flgs,SrcAddr,DstAddr,Sport,Dport,SrcBytes,DstBytes,SrcLoad,DstLoad,...,sswap_sin,sswap_sout,sdiskusage_total,sdiskusage_used,sdiskusage_free,sdiskusage_percent,Boot_Time_with_date,DTime,Attack_categories,Label
0,->,e,192.168.3.2,192.168.2.2,36390,4022,1651.0,272.0,10440.0,1612.000,...,0,0,502392610816,51814645760,424982593536,10,2023-12-23 15:38:11,104.316401,normal,0
1,->,e,192.168.3.2,192.168.2.2,49608,4022,1673.0,272.0,10576.0,1611.000,...,0,0,502392610816,51814674432,424982564864,10,2023-12-23 15:38:11,104.207156,normal,0
2,->,e,192.168.3.2,192.168.2.2,34596,4022,1650.0,272.0,10364.0,1602.000,...,0,0,502392610816,51814686720,424982552576,10,2023-12-23 15:38:11,104.177347,normal,0
3,->,e d,78.151.208.250,192.168.2.2,18346,4022,1450.0,174.0,0.0,306.469,...,0,0,502392610858,50459127848,426338111537,15,2023-05-09 15:19:38,25.821966,DDoS,1
4,->,e d,143.109.155.233,192.168.2.2,18346,4022,1452.0,174.0,0.0,305.268,...,0,0,502392610863,50459127854,426338111539,15,2023-05-09 15:19:38,25.945508,DDoS,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145118,->,e d,210.199.96.247,192.168.4.2,3617,4022,1453.0,174.0,0.0,307.200,...,0,0,502392611534,50459128438,426338112161,80,2023-05-09 15:19:38,10.176143,DDoS,1
145119,->,e d,52.213.241.61,192.168.4.2,3617,4022,1452.0,174.0,0.0,306.281,...,0,0,502392611536,50459128445,426338112166,80,2023-05-09 15:19:38,10.152515,DDoS,1
145120,->,e d,250.243.186.7,192.168.4.2,3617,4022,1450.0,174.0,0.0,306.492,...,0,0,502392611545,50459128446,426338112174,81,2023-05-09 15:19:38,10.068303,DDoS,1
145121,->,e,198.51.100.100,192.168.4.2,57484,4022,1648.0,272.0,10397.0,1608.000,...,0,0,30612852736,19991822336,9289617408,68,2023-12-23 15:40:42,28.217784,normal,0
145122,->,e,198.51.100.100,192.168.4.2,57486,4022,1649.0,272.0,10341.0,1598.000,...,0,0,30612852736,19991822336,9289617408,68,2023-12-23 15:40:42,28.222397,normal,0

In [10]:
df2.keys()

Index(['Dir', 'Flgs', 'SrcAddr', 'DstAddr', 'Sport', 'Dport', 'SrcBytes',
       'DstBytes', 'SrcLoad', 'DstLoad', 'SrcGap', 'DstGap', 'SIntPkt',
       'DIntPkt', 'SIntPktAct', 'DIntPktAct', 'SrcJitter', 'DstJitter',
       'sMaxPktSz', 'dMaxPktSz', 'sMinPktSz', 'dMinPktSz', 'Dur', 'Trans',
       'TotPkts', 'TotBytes', 'network_load', 'Loss', 'pLoss', 'pSrcLoss',
       'pDstLoss', 'Rate', 'SrcMac', 'DstMac', 'IMEI', 'RTime', 'Packet_num',
       'scputimes_user', 'scputimes_nice', 'scputimes_system',
       'scputimes_idle', 'scputimes_iowait', 'scputimes_irq',
       'scputimes_softirq', 'scputimes_steal', 'scputimes_guest',
       'scputimes_guest_nice', 'scpustats_ctx_switches',
       'scpustats_interrupts', 'scpustats_soft_interrupts',
       'scpustats_syscalls', 'svmem_total', 'svmem_available', 'svmem_percent',
       'svmem_used', 'svmem_free', 'svmem_active', 'svmem_inactive',
       'svmem_buffers', 'svmem_cached', 'svmem_shared', 'svmem_slab',
       'ram_usage_wraning', 'sswap_total', 'sswap_used', 'sswap_free',
       'sswap_percent', 'sswap_sin', 'sswap_sout', 'sdiskusage_total',
       'sdiskusage_used', 'sdiskusage_free', 'sdiskusage_percent',
       'Boot_Time_with_date', 'DTime', 'Attack_categories', 'Label'],
      dtype='object')

In [11]:
df2['Label'].value_counts()

Label
0    132884
1     12239
Name: count, dtype: int64

In [12]:
df2.head()

,Dir,Flgs,SrcAddr,DstAddr,Sport,Dport,SrcBytes,DstBytes,SrcLoad,DstLoad,...,sswap_sin,sswap_sout,sdiskusage_total,sdiskusage_used,sdiskusage_free,sdiskusage_percent,Boot_Time_with_date,DTime,Attack_categories,Label
0,->,e,192.168.3.2,192.168.2.2,36390,4022,1651.0,272.0,10440.0,1612.000,...,0,0,502392610816,51814645760,424982593536,10,2023-12-23 15:38:11,104.316401,normal,0
1,->,e,192.168.3.2,192.168.2.2,49608,4022,1673.0,272.0,10576.0,1611.000,...,0,0,502392610816,51814674432,424982564864,10,2023-12-23 15:38:11,104.207156,normal,0
2,->,e,192.168.3.2,192.168.2.2,34596,4022,1650.0,272.0,10364.0,1602.000,...,0,0,502392610816,51814686720,424982552576,10,2023-12-23 15:38:11,104.177347,normal,0
3,->,e d,78.151.208.250,192.168.2.2,18346,4022,1450.0,174.0,0.0,306.469,...,0,0,502392610858,50459127848,426338111537,15,2023-05-09 15:19:38,25.821966,DDoS,1
4,->,e d,143.109.155.233,192.168.2.2,18346,4022,1452.0,174.0,0.0,305.268,...,0,0,502392610863,50459127854,426338111539,15,2023-05-09 15:19:38,25.945508,DDoS,1

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145123 entries, 0 to 145122
Data columns (total 77 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Dir                        145123 non-null  object
 1   Flgs                       145123 non-null  object
 2   SrcAddr                    145123 non-null  object
 3   DstAddr                    145123 non-null  object
 4   Sport                      145123 non-null  object
 5   Dport                      145123 non-null  int64
 6   SrcBytes                   145123 non-null  float64
 7   DstBytes                   145123 non-null  float64
 8   SrcLoad                    145123 non-null  float64
 9   DstLoad                    145123 non-null  float64
 10  SrcGap                     145123 non-null  float64
 11  DstGap                     145123 non-null  float64
 12  SIntPkt                    145123 non-null  float64
 13  DIntPkt                    145123 non-null  float64
 14  SIntPktAct                 145123 non-null  float64
 15  DIntPktAct                 145123 non-null  float64
 16  SrcJitter                  145123 non-null  float64
 17  DstJitter                  145123 non-null  float64
 18  sMaxPktSz                  145123 non-null  int64
 19  dMaxPktSz                  145123 non-null  int64
 20  sMinPktSz                  145123 non-null  int64
 21  dMinPktSz                  145123 non-null  int64
 22  Dur                        145123 non-null  float64
 23  Trans                      145123 non-null  int64
 24  TotPkts                    145123 non-null  float64
 25  TotBytes                   145123 non-null  float64
 26  network_load               145123 non-null  float64
 27  Loss                       145123 non-null  int64
 28  pLoss                      145123 non-null  float64
 29  pSrcLoss                   145123 non-null  float64
 30  pDstLoss                   145123 non-null  float64
 31  Rate                       145123 non-null  float64
 32  SrcMac                     145123 non-null  object
 33  DstMac                     145123 non-null  object
 34  IMEI                       145123 non-null  int64
 35  RTime                      145123 non-null  object
 36  Packet_num                 145123 non-null  int64
 37  scputimes_user             145123 non-null  int64
 38  scputimes_nice             145123 non-null  int64
 39  scputimes_system           145123 non-null  int64
 40  scputimes_idle             145123 non-null  int64
 41  scputimes_iowait           145123 non-null  int64
 42  scputimes_irq              145123 non-null  int64
 43  scputimes_softirq          145123 non-null  int64
 44  scputimes_steal            145123 non-null  int64
 45  scputimes_guest            145123 non-null  int64
 46  scputimes_guest_nice       145123 non-null  int64
 47  scpustats_ctx_switches     145123 non-null  int64
 48  scpustats_interrupts       145123 non-null  int64
 49  scpustats_soft_interrupts  145123 non-null  int64
 50  scpustats_syscalls         145123 non-null  int64
 51  svmem_total                145123 non-null  int64
 52  svmem_available            145123 non-null  int64
 53  svmem_percent              145123 non-null  int64
 54  svmem_used                 145123 non-null  int64
 55  svmem_free                 145123 non-null  int64
 56  svmem_active               145123 non-null  int64
 57  svmem_inactive             145123 non-null  int64
 58  svmem_buffers              145123 non-null  int64
 59  svmem_cached               145123 non-null  int64
 60  svmem_shared               145123 non-null  int64
 61  svmem_slab                 145123 non-null  int64
 62  ram_usage_wraning          145123 non-null  int64
 63  sswap_total                145123 non-null  int64
 64  sswap_used                 145123 non-null  int64
 65  sswap_free                 145123 non-null  int64
 66  sswap_percent              145123 non-null  int64
 67  sswap_sin                  145123 non-null  int64
 68  sswap_sout                 145123 non-null  int64
 69  sdiskusage_total           145123 non-null  int64
 70  sdiskusage_used            145123 non-null  int64
 71  sdiskusage_free            145123 non-null  int64
 72  sdiskusage_percent         145123 non-null  int64
 73  Boot_Time_with_date        145123 non-null  object
 74  DTime                      145123 non-null  float64
 75  Attack_categories          145123 non-null  object
 76  Label                      145123 non-null  int64
dtypes: float64(21), int64(46), object(10)
memory usage: 85.3+ MB

In [15]:
df2['Dir'].value_counts()

Dir
   ->    145120
  ->          1
->            1
 ->           1
Name: count, dtype: int64

In [16]:
df2 = df2.drop('Dir', axis = 1)

In [17]:
df2

,Flgs,SrcAddr,DstAddr,Sport,Dport,SrcBytes,DstBytes,SrcLoad,DstLoad,SrcGap,...,sswap_sin,sswap_sout,sdiskusage_total,sdiskusage_used,sdiskusage_free,sdiskusage_percent,Boot_Time_with_date,DTime,Attack_categories,Label
0,e,192.168.3.2,192.168.2.2,36390,4022,1651.0,272.0,10440.0,1612.000,0.0,...,0,0,502392610816,51814645760,424982593536,10,2023-12-23 15:38:11,104.316401,normal,0
1,e,192.168.3.2,192.168.2.2,49608,4022,1673.0,272.0,10576.0,1611.000,0.0,...,0,0,502392610816,51814674432,424982564864,10,2023-12-23 15:38:11,104.207156,normal,0
2,e,192.168.3.2,192.168.2.2,34596,4022,1650.0,272.0,10364.0,1602.000,0.0,...,0,0,502392610816,51814686720,424982552576,10,2023-12-23 15:38:11,104.177347,normal,0
3,e d,78.151.208.250,192.168.2.2,18346,4022,1450.0,174.0,0.0,306.469,0.0,...,0,0,502392610858,50459127848,426338111537,15,2023-05-09 15:19:38,25.821966,DDoS,1
4,e d,143.109.155.233,192.168.2.2,18346,4022,1452.0,174.0,0.0,305.268,0.0,...,0,0,502392610863,50459127854,426338111539,15,2023-05-09 15:19:38,25.945508,DDoS,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145118,e d,210.199.96.247,192.168.4.2,3617,4022,1453.0,174.0,0.0,307.200,0.0,...,0,0,502392611534,50459128438,426338112161,80,2023-05-09 15:19:38,10.176143,DDoS,1
145119,e d,52.213.241.61,192.168.4.2,3617,4022,1452.0,174.0,0.0,306.281,0.0,...,0,0,502392611536,50459128445,426338112166,80,2023-05-09 15:19:38,10.152515,DDoS,1
145120,e d,250.243.186.7,192.168.4.2,3617,4022,1450.0,174.0,0.0,306.492,0.0,...,0,0,502392611545,50459128446,426338112174,81,2023-05-09 15:19:38,10.068303,DDoS,1
145121,e,198.51.100.100,192.168.4.2,57484,4022,1648.0,272.0,10397.0,1608.000,0.0,...,0,0,30612852736,19991822336,9289617408,68,2023-12-23 15:40:42,28.217784,normal,0
145122,e,198.51.100.100,192.168.4.2,57486,4022,1649.0,272.0,10341.0,1598.000,0.0,...,0,0,30612852736,19991822336,9289617408,68,2023-12-23 15:40:42,28.222397,normal,0

In [18]:
df2['Flgs'].value_counts()

Flgs
 e            135827
 e d            9287
 e s               5
 e *               2
 e g               1
 eUd               1
Name: count, dtype: int64